@layout('layouts.main')

  @section('title')
  (Superfluid) Data Exploration Api
  @endsection

  @section('content')
<h1>
  What is left
</h1>
<h3>Finish up the GL part</h3>
<h3>Crank out some tests</h3>
<h3>Interesting new algo I really want to try out</h3>



<br></br>

<h6>Deep Convolutional Generative Adversarial Network</h6>
<div class="ns1"></div>


  @endsection
