@layout('layouts.main')

  @section('title')
  (Superfluid) Data Exploration Api
  @endsection

  @section('content')
<h1>
  Machine Learning Part
</h1>

<br></br>
<h4>Progress</h4>

<h6>Basically done. Have all the pipelining setup.</h6>
<h6>This includes preprocessing, model selection (clustering ++), and output</h6>
<div class="tf1"></div>



  @endsection
